%h1 Global Settings
= form_for @global_settings_form, :url => "global" do |f| 
  .row
    .col-xs-12.col-md-6.col-xl-4
      = form_tag("", id:"global-settings", method: "post") do
        - if @errors
          - @errors.each do |error|
            = error
        .form-group
          = label_tag(:company_name, "Company Name:")
          = f.text_field(:company_name, class: 'form-control', value: @company_name)
        .form-group
          = label_tag(:company_vat_id, "Company VAT ID:")
          = f.text_field(:company_vat_id, value: @company_vat_id, class: 'form-control')
        .form-group
          = label_tag(:company_address, "Company Address:")
          = f.text_area(:company_address, value: @company_address, class: 'form-control autosize', rows: '3')
        .form-group
          = label_tag(:company_phone, "Company Phone:")
          = f.text_field(:company_phone, value: @company_phone, class: 'form-control')
        .form-group
          = label_tag(:company_email, "Company Email:")
          = f.email_field(:company_email, value: @company_email, class: 'form-control')
        .form-group
          = label_tag(:company_url, "Company Website:")
          = f.url_field(:company_url, value: @company_url, class: 'form-control')
        .form-group
          = label_tag(:company_logo, "Company Logo:")
          = f.url_field(:company_logo, value: @company_logo, class: 'form-control')
        .form-group
          = label_tag :currency, "Currency:"
          = f.collection_select :currency, @currencies, :id, :iso_code, {}, {class: 'form-control c-select'}
        .form-group
          = label_tag(:legal_terms, "Legal Terms:")
          = f.text_area(:legal_terms, value: @legal_terms, class: 'form-control autosize', rows: '3')
        .form-group
          = label_tag(:days_to_due, "Days to due:")
          = f.number_field(:days_to_due, value: @days_to_due, class: 'form-control')

  .action-buttons
    %button.btn.btn-success{type: 'button', data: {role: 'submit-form', target: 'form'}} Save
